Repository leapfrogtechnology/async-store, pull requests merged in 2019-09, with the labels that each got.

#24 Add example for request id logging
  examples/express-ts/README.md
  examples/express-ts/src/index.ts
  examples/express-ts/src/logger.ts
  examples/express-ts/src/middlewares.ts
  examples/express-ts/src/service.ts
Labels: documentation, example

#25 Add an example project for a basic http server built with just node
  examples/http-ts/.gitignore
  examples/http-ts/README.md
  examples/http-ts/backpack.config.js
  examples/http-ts/package.json
  examples/http-ts/src/index.ts
  examples/http-ts/src/logger.ts
  examples/http-ts/src/middlewares.ts
  examples/http-ts/src/service.ts
  examples/http-ts/tsconfig.json
  examples/http-ts/tslint.json
  examples/http-ts/yarn.lock
Labels: example, node, web server

#29 Refactor all the examples for consistency and simplicity
  examples/express-http-server-ts/README.md
  examples/express-http-server-ts/src/index.ts
  examples/express-http-server-ts/src/logger.ts
  examples/express-http-server-ts/src/middlewares.ts
  examples/express-http-server-ts/src/service.ts
  examples/node-http-server-ts/README.md
  examples/node-http-server-ts/src/index.ts
  examples/node-http-server-ts/src/logger.ts
  examples/node-http-server-ts/src/middlewares.ts
  examples/node-http-server-ts/src/service.ts
Labels: example, refactor

#30 Add new accessor function getByKeys()
  README.md
  src/AsyncStore.ts
  src/impl/domain.ts
  src/index.ts
  test/domain.test.ts
Labels: feature
