Repository leapfrogtechnology/async-store, pull requests merged in 2019-11, with the labels that each got.

#37 Add example for micro
  examples/micro-http-server-ts/.babelrc
  examples/micro-http-server-ts/README.md
  examples/micro-http-server-ts/backpack.config.js
  examples/micro-http-server-ts/package.json
  examples/micro-http-server-ts/src/index.ts
  examples/micro-http-server-ts/src/logger.ts
  examples/micro-http-server-ts/src/middlewares.ts
  examples/micro-http-server-ts/src/service.ts
  examples/micro-http-server-ts/tsconfig.json
  examples/micro-http-server-ts/tslint.json
  examples/micro-http-server-ts/yarn.lock
Labels: documentation, example

#45 Add tests to cover initializeMiddleware function
  package.json
  test/domain.test.ts
  yarn.lock
Labels: coverage, test

#46 Remove is_enabled flag and unused methods
  src/index.ts
Labels: breaking change, improvement

#48 Convert Koa example based on JavaScript to TypeScript
  README.md
  examples/koa-http-server-js/.babelrc
  examples/koa-http-server-js/.eslintrc
  examples/koa-http-server-js/.gitignore
  examples/koa-http-server-js/README.md
  examples/koa-http-server-js/backpack.config.js
  examples/koa-http-server-js/eslint.json
  examples/koa-http-server-js/package.json
  examples/koa-http-server-ts/README.md
  examples/koa-http-server-ts/backpack.config.js
  examples/koa-http-server-ts/package.json
  examples/koa-http-server-ts/src/index.ts
  examples/koa-http-server-ts/src/logger.ts
  examples/koa-http-server-ts/src/middlewares.ts
  examples/koa-http-server-ts/src/service.ts
  examples/koa-http-server-ts/tsconfig.json
  examples/koa-http-server-ts/tslint.json
  examples/koa-http-server-ts/yarn.lock
Labels: example, types
